body{
overflow: hidden;
background:linear-gradient(#f4f4ed);
}
.container{
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.claculator{
    width: 370px;
    margin: auto;
    border-radius: 2px;
    background-color: #c99f5f;
    padding: 15px 15px 20px 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
#userInput{
    font-size: 22px;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 5px;
    background: whitesmoke;
    text-align: right;
    direction: ltr;
    outline: none;
    border: none;
}
.btn{
    width: 24%;
    height: 45px;
    font-weight: bold;
    border-radius: 2px;
    margin-top: 3px;
    border: none;
    outline: none;  
}
.btnequal{
    width: 100%;
    height: 45px;
    border-radius: 2px;
    border: none;
    outline: none;
    margin-top: 3px;
    background: whitesmoke;
}